<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>rater</title>
  <script type="text/javascript" src="http://datso-gallery-v1.7.com/rater/jquery.js"></script>
  <script type="text/javascript" src="http://datso-gallery-v1.7.com/rater/jquery.rater.js"></script>
  <link rel="stylesheet" type="text/css" href="http://datso-gallery-v1.7.com/rater/rater.css" media="screen" />
  <style type="text/css">
  body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 9px;
    font-weight: 400;
  }

  </style>
</head>

<body>
<h3>Inline</h3>
		<div style="display: inline">
			<span id="inline"> </span>
		</div>


		<script type="text/javascript">
			$('#inline').rater('ratingsdemo.php', {style: 'inline', curvalue:3});
		</script>

</body>

</html>